@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

:root {
  /* Light Theme - Base Colors */

  /* Primary Colors */
  --primary-blue: #201b6d;
  --primary-black: #eb0b7b;
  --primary-yellow: #ef9d13;

  /* Gradient Colors */
  --gradient-pink-start: #ff99cb;
  --gradient-pink-end: #ff3d9c;
  --gradient-purple-start: #a6a3ff;
  --gradient-purple-end: #645ffe;
  --gradient-yellow-start: #ffd68f;
  --gradient-yellow-end: #ffb73d;
  --gradient-blue-start: #70b4ff;
  --gradient-blue-end: #1f88ff;

  /* Text Colors */
  --text-primary: #1e1e1e;
  --text-secondary: #ffffff;
  --text-pink: #4d0138;
  --text-yellow: #6d4500;
  --text-blue: #020070;

  /* Font */
  --mona-font: var(--font-mona-sans);
  --shadows-into-light-two-font: var(--font-shadows-into-light-two);

  --radius: 0.625rem;

  /* palette */
  --white: #ffffff;
  --black: #0a0a0a;

  /* Brand */
  --primary: #4f46e5;
  --primary-foreground: #ffffff;

  /* Status */
  --success: #22c55e;
  --info: #3b82f6;
  --warning: #f59e0b;
  --destructive: #ef4444;

  /* Charts */
  --chart-1: #f97316;
  --chart-2: #06b6d4;
  --chart-3: #334155;
  --chart-4: #eab308;
  --chart-5: #f59e0b;

  /* ---- Light Mode ---- */
  --background: var(--white);
  --foreground: var(--black);

  --card: #f8f8f8;
  --card-foreground: #1a1a1a;

  --popover: var(--white);
  --popover-foreground: #1a1a1a;

  --secondary: #f5f5f5;
  --secondary-foreground: #1a1a1a;

  --muted: #f5f5f5;
  --muted-foreground: #8e8e8e;
  --muted-background: #eeeeee;

  --accent: #f5f5f5;
  --accent-foreground: #1a1a1a;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #b3b3b3;

  /* Sidebar */
  --sidebar: #fafafa;
  --sidebar-foreground: #1a1a1a;
  --sidebar-primary: #1a1a1a;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #eeeeee;
  --sidebar-accent-foreground: #1a1a1a;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #b3b3b3;

  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Primary Colors */
  --color-primary-blue: var(--primary-blue);
  --color-primary-black: var(--primary-black);
  --color-primary-yellow: var(--primary-yellow);

  /* Gradient Colors */
  --color-gradient-pink-start: var(--gradient-pink-start);
  --color-gradient-pink-end: var(--gradient-pink-end);
  --color-gradient-purple-start: var(--gradient-purple-start);
  --color-gradient-purple-end: var(--gradient-purple-end);
  --color-gradient-yellow-start: var(--gradient-yellow-start);
  --color-gradient-yellow-end: var(--gradient-yellow-end);
  --color-gradient-blue-start: var(--gradient-blue-start);
  --color-gradient-blue-end: var(--gradient-blue-end);

  /* Text Colors */
  --color-text-primary: var(--text-primary);
  --color-text-pink: var(--text-pink);
  --color-text-yellow: var(--text-yellow);
  --color-text-blue: var(--text-blue);

  /* Font */
  --font-primary: var(--mona-font);
  --font-shadow-light: var(--shadows-into-light-two-font);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-background: var(--muted-background);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  --animate-gradient-move: gradient-move 5s ease infinite;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-primary bg-background text-foreground;
  }
  * {
    @apply border-border outline-ring/50;
  }
}

@layer components {
  .s-container {
    @apply w-full max-w-326 mx-auto px-5 sm:px-6 lg:px-8;
  }
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}


@theme {
  --animate-gentle-bounce: gentle-bounce 2s infinite;
  --animate-perfect-bounce: perfect-bounce 3s ease-in-out infinite;

  @keyframes gentle-bounce {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes perfect-bounce {
    0%, 100% {
      transform: translateY(0) scale(1.03, 0.98);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      transform: translateY(-12px) scale(0.98, 1.03);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}